.hide {
    display: none;
}

.white {
    color: #fff;
}

.bluma {
    background-color: #00d1b2;
}

.panel-bluma {
    border-color: #ddd
}

.panel-button {
    cursor: pointer;
}

.no-resize {
    resize: none;
}

.icon-gray {
    color: #7A8496;
}

.pointer {
    cursor: pointer;
}

.text-right {
    float: right;
}

.msg-system {
    color: #82878F;
    background-color: #F3F3F4;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

.msg-me {
    text-align: right;
    margin-bottom: 30px;
}

.msg-me span {
    width: 70%;
    color: #314F22;
    padding: 10px;
    background-color: #E4E8EB;
    border-radius: 15px 0px 15px 15px;
    padding-left: 10px;
}

.msg-agent {
    text-align: left;
    margin-bottom: 30px;
}

.msg-agent span {
    background-color: #BEF18C;
    text-align: left;
    color: #314F22;
    padding: 13px;
    margin-bottom: 15px;
    border-radius: 0px 15px 15px 15px;
}

.arrow {
    right: 0px;
    width: 14px;
    height: 9px;
    border-top: 1px solid #ccc;
    border-radius: 0 100% 0 0;
    background-color: #fafafa;
}

.icon-bar {
    background-color: #F6F6F6;
}
